<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.20.0.0" targetFramework="win81" developmentDependency="true" />
  <package id="MvvmLight" version="4.2.30.0" targetFramework="win81" />
  <package id="MvvmLightLibs" version="4.2.30.0" targetFramework="win81" />
  <package id="PropertyChanged.Fody" version="1.45.0.0" targetFramework="win81" developmentDependency="true" />
</packages>